
.header-menu{

  display: none;

  @include breakpoint(medium){
    display: block;
  }

  .notifications{
    text-align: right;
  }

  ul{
    @extend %no-list;
    @extend %no-margin;

    li {
      float: left;
    }

    a{
      color: $light-gray;
      margin-left: 15px;
    }
  }
}