%h1 Login

-if flash[:login_error]
  .login-error= flash[:login_error]
=link_to 'Create Profile', new_employees_path
= form_tag sessions_path, class: 'login-form' do
  .field.email
    =label_tag :email
    =text_field_tag :email, params[:email], type: 'email'
  .field.password
    =label_tag :password
    =password_field_tag :password
  .field.submit
    =submit_tag 'Log In'