%h1.text-center Login

.row
= form_tag sessions_path, class: 'login-form' do
  -if flash[:login_error]
    .login-error.text-center
      Login Failed:
      =flash[:login_error]

  =label_tag :email
  =text_field_tag :email, params[:email], type: 'email'

  =label_tag :password
  =password_field_tag :password

  .create-profile.float-right= link_to 'Create Profile', new_employees_path
  .field.submit= submit_tag 'Log In', { class: 'button' }