.desktop-header
  .notifications
    .welcome= "Hi #{name}"
  .actions
    %ul
      %li.log-out= link_to 'Log out', log_out_path
      %li.profile= link_to 'My Profile', dashboard_employees_path
.mobile-header Menu
