-if @employee.errors.any?
  %div{id: "error_explanation"}
    %h2
      = pluralize(@employee.errors.count, "error")
      prohibited this employee from being saved:
    %ul
    -@employee.errors.full_messages.each do |message|
      %li= message


=form_for @employee,
  html: {class: 'create-profile-form'} do |f|
  .field
    =f.label :name
    =f.text_field :name
  .filed
    =f.label :surname
    =f.text_field :surname
  .field
    =f.label :date_of_birth, {for: :date_of_birth}
    =f.text_field :dob, {id: :date_of_birth}
  .field
    =f.label :email
    =f.text_field :email
  .field
    =f.label :shirt_size
    =f.select :shirt_size, @shirt_sizes
  .field.staff-types
    =f.label :type
    =f.collection_check_boxes :staff_type_ids, @staff_types, :id, :title
  -if @access_levels
    .field.access-levels
      =f.label :authorization
      =f.collection_check_boxes :access_level_ids, @access_levels, :id, :title
  .field.password
    =f.label :password
    =f.password_field :password
  .field.password-confirm
    =f.label :password_confirmation, 'Password confirmation'
    =f.password_field :password_confirmation
  .field
    =f.submit 'Create Profile'

