%header
  .title-bar
    .title-bar-left
      %span.title-bar-title Staff Availability System
    .title-bar-right
      -#%button.menu-icon{"data-open" => "offCanvasRight", :type => "button"}
      .menu-toggle Menu
      =render partial: 'employees/partials/header_menu', locals: { name: @employee.name } if is_logged_in?
