.availability-calendar{
  font-size: 15px;

  th{
    font-weight: 300;
    padding: 0;
  }
}

.select-time{
  @extend .row;

  &__from, &__to{
    @extend .columns;
    @extend .small-5, .large-5;
    padding: 2px;
  }

  &__to{
    @extend .end;
    margin-left: 20px;
  }

  &__actions{

    .select-time-button, .reset-time-button{
      @extend .button;
      padding: 5px;
    }

    .select{
      float: left;
    }

    .reset{
      float: right;
    }

  }
}

.time-picker{
  position: relative;
  display: table;
  border-collapse: separate;

  &__selected-time{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    @include border-radius-left();
  }

  &__input-label{
    display: table-cell;
    vertical-align: middle;
    background: $medium-gray;
    padding: 6px 12px;
    @include border-radius-right();
  }
}

.availability-switch{
  @extend .switch, .tiny;
  margin: 25px 0 0 0;

  .switch-paddle{
    @include radius(3px);
    &:after{
      @include radius(3px);
    }
  }
}



