.availability-calendar{
  font-size: 15px;

  .header{
    @extend .row, .small-collapse;
    text-align: center;
  }

  .body{
    .day{
      @extend .row, .small-collapse;
      text-align: center;

      &__select-time{

      }
    }
  }
}

.day-col{
  @extend .columns, .small-3;
}

.time-col{
  @extend .columns, .small-7;
}

.stat-col{
  @extend .columns, .small-2;
}



.select-time{
  @extend .row;
  text-align: center;
  padding-bottom: 10px;

  &__from, &__to{
    @extend .columns, .small-4, .large-4;

    padding: 2px;
  }

  &__to{
    margin-left: 20px;
  }

  &__actions{

    .select-time-button, .reset-time-button{
      @extend .button;
      padding: 5px;
    }

    .select{
      float: left;
    }

    .reset{
      float: right;
    }

  }
}

.time-picker{
  position: relative;
  display: table;
  border-collapse: separate;

  &__selected-time{
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    @include border-radius-left();
  }

  &__input-label{
    display: table-cell;
    vertical-align: middle;
    background: $medium-gray;
    padding: 6px 12px;
    @include border-radius-right();
  }
}

.availability-switch{
  @extend .columns, .small-3, .switch, .tiny;
  margin: 25px 0 0 0;

  .switch-paddle{
    @include radius(3px);
    &:after{
      @include radius(3px);
    }
  }
}



