.timepicker{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($time-menu-background, 0.95);
  z-index: 99999;
  display: none;

  .close{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .fi-x{
    color: #00ffee;
  }

  &__meridiem{
    text-align: center;
    margin-bottom: 10px;
  }
}

.time-selection-wrap{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  .selected-time{
    font-size: 40px;
    color: $light-gray;
  }

  .done{
    padding: 5px 10px;
  }
}

.meridiem{

  padding: 10px;
  margin-bottom: 10px;

  span{
    padding: 5px 15px;
  }
}

.t-button{
  @include radius();
  border: 1px solid red;
  color: red;

  &.active{
    background: red;
    color: $time-menu-background;
  }

  &.hour, &.minute{
    display: inline-block;
    @include square_dim(45px);
    text-align: center;
    margin-right: 10px;
    padding-top: 3%;
  }

  &.hour:last-child{
    margin-right: 0;
  }

  &.minute:last-child{
    margin-right: 0;
  }
}

.hours__block{
  margin-bottom: 10px;

}

.time-select{
  margin-bottom: 20px;

  &__hours{
    margin-bottom: 20px;
  }
}