$time-menu-background: #2D333C;
$button-color: #80D7FB;

@include keyframes(t-button){
  from{
    background: $time-menu-background;
    color: $button-color;
  }
  to{
    background: $button-color;
    color: $time-menu-background;
  }
}


.timepicker{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($time-menu-background, 0.95);
  z-index: 99999;

  @include transform(translateX(-100%));
  @include transition(translateX, 300ms, linear);

  &.open{
    @include transform(translateX(0));
  }


  .close{
    position: absolute;
    top: 10px;
    left: 10px;
    color: $button-color;
    font-size: 25px;
    font-weight: normal;
  }

  .fi-x{
    color: #00ffee;
  }

  &__meridiem{
    text-align: center;
    margin-bottom: 10px;
  }
}

.time-selection-wrap{
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

  .selected-time{
    font-size: 40px;
    color: $light-gray;
  }

  .done{
    padding: 5px 10px;
  }
}

.meridiem{

  padding: 10px;
  margin-bottom: 10px;

  span{
    padding: 5px 15px;
  }
}

.t-button{
  @include radius();
  border: 1px solid $button-color;
  color: $button-color;

  @include transition(all 300ms ease);

  &.active{
    background: #80D7FB;
    color: $time-menu-background;
  }

  &.click{
    @include animation(t-button 100ms linear)
  }

  &.hour, &.minute{
    display: inline-block;
    @include square_dim(45px);
    text-align: center;
    margin-right: 10px;
    padding-top: 3%;
  }

  &.hour:last-child{
    margin-right: 0;
  }

  &.minute:last-child{
    margin-right: 0;
  }
}

.hours__block{
  margin-bottom: 10px;

}

.time-select{
  margin-bottom: 20px;

  &__hours{
    margin-bottom: 20px;
  }
}