%h1.home= 'This is Home page'
%p
  Welcome to Staff Availability System.
  %br
  This application is designed for employees to put their available time into system
  and so provide to employer ability to see who is timely available in what day and what time.

%p
  Create your account
  =link_to 'here', new_employees_path, {class: 'create-account-link'}
  if you don't have any, or
  =link_to 'Login', login_path, {class: 'login-link'}