%div{class: "select-time__#{prefix}"}
  .title= prefix.to_s.capitalize
  .time-picker
    %input.time-picker__selected-time{ type: 'text', value: '00:00'}
      %span.time-picker__input-label
        %span.fi-clock