%div{class: "select-time__#{prefix}"}
  .title= prefix.to_s.capitalize
  .time-picker
    =text_field_tag(:time,
      time,
      disabled: disabled,
      name: "available-times[#{date}[#{prefix}]]",
      class: 'time-picker__selected-time')

    %span.time-picker__input-label
      %span.fi-clock