.timepicker
  .close
    %span.glyphicon.glyphicon-chevron-left{ "aria-hidden" => "true"}
  .time-selection-wrap
    .selected-time
      %span.hour 00
      %span.separator :
      %span.minute 00
    .meridiem
      %span.am.t-button{data: {label: :am}} am
      %span.pm.t-button{data: {label: :pm}} pm
    .time-select
      .time-select__hours
        -hours_block = '';
        -12.times do |hour|
          -hour += 1
          -hours_block += capture_haml do
            .t-button.hour
              =hidden_field_tag(:hour, hour < 10 ? "0#{hour}" : hour, {id: "hour-#{hour}"})
              =hour

          -if hour % 4 == 0
            .hours__block= hours_block.html_safe
            -hours_block = ''

      .time-select__minutes
        -%w[00 15 30 45].each do |minute|
          .t-button.minute
            =hidden_field_tag(:minute, minute, {id: "minute-#{minute}"})
            =minute
    %a.t-button.done Done