header{
  background-color: map_get($foundation-palette, primary);
  padding: 5px;
  margin-bottom: 20px;
}

.app-title{
  color: $white;
  margin: 0;
}

.app-title-container{
  //@extend .column, .small-10, .medium-5, .large-6, .large-collapse
}

.employee-section{

}