=render_menu

-main_title 'Availability'

=render 'availabilities/partials/time_menu'

=debug @availabilities

=form_tag({controller: :availabilities, action: :update}, method: :patch) do
  .availability-calendar
    .header
      .header__day.day-col Day
      .header__time.time-col Selected Time
      .header__stat.stat-col
        %i.fi-checkbox

    .body
      -7.times do |i|
        -date = @current_date + i
        -availability = availability_set?(date, @availabilities)
        .day
          .day_date.day-col
            =date.strftime("%a")
            %br
            =date.to_formatted_s(:short)
          .day__time.time-col 21:00 - 00:00
          .day__stat.stat-col icon
        .select-time
          =render partial: 'availabilities/partials/select_time', locals: select_time_locals(:from, availability)
          =render partial: 'availabilities/partials/select_time', locals: select_time_locals(:to, availability)

          .availability-switch
            -switch_id = "avail-switch-#{availability[:date]}"

            =check_box_tag('available_dates[]', availability[:date], !availability[:disabled], id: switch_id, class: "switch-input")

            %label.switch-paddle.switcher{for: switch_id}
              %span.switch-active{"aria-hidden" => "true"} Yes
              %span.switch-inactive{"aria-hidden" => "true"} No

  =submit_tag('Set Availability', class: :button)