=render_menu

-main_title 'Availability'

=render 'availabilities/partials/time_menu'

.availability-calendar
  .header
    .header__day.day-col Day
    .header__time.time-col Selected Time
    .header__stat.stat-col
      %i.fi-checkbox

  .body
    -7.times do |i|
      -date = @current_date + i
      .day
        .day_date.day-col
          =date.strftime("%a")
          %br
          =date.to_formatted_s(:short)
        .day__time.time-col 21:00 - 00:00
        .day__stat.stat-col icon
      .select-time
        =render partial: 'availabilities/partials/select_time', locals: { prefix: :from }
        =render partial: 'availabilities/partials/select_time', locals: { prefix: :to }

        .availability-switch
          %input#avail-switch.switch-input{:name => "exampleSwitch", type: :checkbox}
            %label.switch-paddle{for: 'avail-switch'}
              %span.show-for-sr Download Kittens