=render_menu

-main_title 'Availability'

=render 'availabilities/partials/time_menu'

%table.availability-calendar
  %thead
    %tr
      %th Day
      %th Selected Time
      %th Status
  %tbody
    -7.times do |i|
      -date = @current_date + i
      %tr.day
        %th
          =date.strftime("%a")
          %br
          =date.to_formatted_s :short
        %th
          21:00 - 00:00
        %th
          free
      %tr.hours
        %th{colspan: 2}
          .select-time
            =render partial: 'availabilities/partials/select_time', locals: { prefix: :from }
            =render partial: 'availabilities/partials/select_time', locals: { prefix: :to }
        %th
          .availability-switch
            %input#avail-switch.switch-input{:name => "exampleSwitch", type: :checkbox}
              %label.switch-paddle{for: 'avail-switch'}
                %span.show-for-sr Download Kittens