!!! 5
%html{ :lang => "en" }
  =render 'layouts/partials/head'

  %body

    .expanded.row
      = render 'partials/header'

    -if flash[:notice]
      .notifications= flash[:notice]

    .row.expanded.column.main-content
      -if is_logged_in?
        .columns.large-3
          =content_for?(:menu) ? yield(:menu) : nil
        .columns.large-9
          = yield
      -else
        =yield
