!!! 5
%html{ :lang => "en" }
  =render 'layouts/partials/head'

  %body
    .expanded.row
      = render 'partials/header'

    -if flash[:notice]
      .notifications= flash[:notice]

    .main-content
      -if is_logged_in?
        %section.main-menu
          .main-menu_container
            =content_for?(:menu) ? yield(:menu) : nil
        .content
          = yield
      -else
        =yield
